.Titre-Principal {
    color: blue;
}
body {
    color: aquamarine;
    }
body {
    background: url('../img/solo\ leveling.jpg') no-repeat scroll;
    background-size: cover;
}
body {
    border: 5px solid white;
}